[GDrive]
api_key=key


[local]
path=path_to_backup_folder


[Backup]
each=1d
dest='GDrive;local'
zip_pass=pass
temp_dir='./'

[Folders]
source='folder1;folder2'
dest='folder1;folder2'


[Clean]
older=4d


[Database]
name=db.db