[GDrive]
api_key=key
path='path_to_backup_folder'


[local]
path='path_to_backup_folder'


[Backup]
source='lable1@folder1;label2@folder2'
each=1d
dest='GDrive;local'
zip_pass=pass
temp_dir='./'


[Clean]
older=7d


[Database]
name=db.db